body {
  font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif;
}
/* VANILLA ELEMENTS */
a {
  color: #11647F;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  background: url('images/logo.png') no-repeat center center;
  font-size: 150px;
  display: block;
  margin-bottom: -60px;
  text-indent: -9999px;
}
h2, h3 {
  font-size: 50px;
  margin-bottom: 0px;
}
h4 {
  font-size: 30px;
  margin: 20px 0 0 0;
}
/* CUSTOM ELEMENTS */
#wrapper {
  margin: 0 auto;
  width: 1024px;
  text-align: center;
}
.top {
  position: absolute;
  top: 10px;
  left: 10px;
}
#slider {
  margin-left: 179px;
  width: 665px;
  background: url(images/loading.gif) no-repeat center;
}
.nivo-controlNav {
  display: block;
  position: relative;
  top: 400px;
  left: 270px;
}
.nivo-control {
  background: url('images/inactive-button.png') no-repeat center center;
  display: block;
  height: 13px;
  float: left;
  width: 13px;
  margin: 2px;
  padding: 5px;
  text-indent: -9999px;
}
.nivo-control.active {
  background-image: url('images/active-button.png');
}
.version {
  color: #333;
  font-size: 12px;
  vertical-align: super;
}
#download_links {
  font-size: 30px;
}
#download_links a {
  display: inline-block;
  margin: 2px;
  padding: 10px;
}
.feature {
  clear: both;
  margin: 0 auto;
  padding: 2px;
  text-align: left;
  width: 670px;
}
.feature img {
  float: left;
}
.feature:nth-child(even) img, .feature:nth-child(even) h4, .feature:nth-child(even) p {
  float: right;
}
.feature:nth-child(even) .info {
  text-align: right;
}
.feature .info {
  width: 370px;
  float: left;
}
.feature h4 {
  float: left;
  width: 300px;
}
.feature p {
  float: left;
  color: #595959;
  width: 300px;
}
.clearer {
  clear: both;
}
.greyer {
  color: #595959;
}
#footer {
  color: #666;
  margin-top: 100px;
}
